body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mapbox-map {
  position: relative;
  width: 100%;
  min-height: 500px;
  height: 100vh;
}

.tl-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: black;
  border: 1px solid white;
  color: white;
  z-index: 100;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

.tl-button:hover {
  background-color: white;
  color: black;
}

.tl-button:active {
  background-color: white;
  color: red;
}

.run-analysis-button {
  background-color: blue;
  color: white;
}

.run-analysis-button:hover {
  background-color: white;
  color: blue;
}

.run-analysis-button:active {
  background-color: yellow;
  color: red;
}

.clear-analysis-button {
  background-color: darkred;
  color: white;
}

.clear-analysis-button:hover {
  background-color: white;
  color: darkred;
}

.clear-analysis-button:active {
  background-color: yellow;
  color: red;
}
